.badge {
	width: fit-content;
	padding: .5rem;
	color: white;
	border-radius: .5rem;
}

.ellipsis {
	display: block;
	max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
