<p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="data()">
	<ng-template pTemplate="caption">
		<div class="flex align-items-center justify-content-between">
			{{ tableTitle() }}
			<div>
				@for (action of headerActions(); track action) {
					<app-button
						[action]="action"
						(click)="action.click()"
					/>
				}
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			@for (header of headers(); track header) {
				<th>{{ header.label }}</th>
			}
		</tr>
	</ng-template>
	<ng-template let-associated pTemplate="body">
		<tr>
			@for (column of associated | call: getColumns; track column.key) {
				<td>
					<app-table-cell [column]="column"/>
				</td>
			}
		</tr>
	</ng-template>
</p-table>

@if (!data().length) {
	<app-no-results [icon]="noResults().icon" [message]="noResults().message"/>
}
